.task {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-info p:first-child {
  flex: 1;
  min-width: 0; /* Asegura que no expanda más allá del contenedor */
  margin-right: 10px; /* Espacio entre el nombre y la fecha */
  text-align: left;
}

.task-info p.due-date {
  flex-shrink: 0; /* La fecha no debe encoger */
  margin-right: 10px; /* Espacio entre la fecha y los botones */
}

.task p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.task button:hover {
  background-color: #ff4500;
}

.task-overdue {
  background-color: #ffe6e6;
}

.overdue-date {
  font-weight: bold;
  color: red;
}
